{% set adjutant_log_dir = '/var/log/kolla/adjutant' %}
{% if adjutant_install_type == 'binary' %}
    {% set python_path = '/usr/lib/python3/dist-packages' if kolla_base_distro in ['debian', 'ubuntu'] else '/usr/lib/python' ~ distro_python_version ~ '/site-packages' %}
{% else %}
    {% set python_path = '/var/lib/kolla/venv/lib/python' + distro_python_version + '/site-packages' %}
{% endif %}
{% set wsgi_path = '/var/lib/kolla/venv/lib/python' + distro_python_version + '/site-packages' %}
Listen {{ api_interface_address | put_address_in_context('url') }}:{{ adjutant_api_listen_port }}
ServerSignature Off
ServerTokens Prod
TraceEnable off
ErrorLog "{{ adjutant_log_dir }}/apache-error.log"
<IfModule log_config_module>
    CustomLog "{{ adjutant_log_dir }}/apache-access.log" common
</IfModule>
{% if adjutant_logging_debug | bool %}
LogLevel info
{% endif %}
<VirtualHost *:{{ adjutant_api_listen_port }}>
  ErrorLog "{{ adjutant_log_dir }}/adjutant-api-error.log"
  LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
  CustomLog "{{ adjutant_log_dir }}/adjutant-api-access.log" logformat
  WSGIApplicationGroup %{GLOBAL}
  WSGIDaemonProcess adjutant group=adjutant processes={{ openstack_service_workers }} threads=1 user=adjutant python-path={{ python_path }}
  WSGIProcessGroup adjutant
  WSGIScriptAlias / "{{ wsgi_path }}/adjutant/wsgi.py"
  <Directory "{{ wsgi_path }}/adjutant/">
        Require all granted
  </Directory>
</VirtualHost>